services:
  mysql_db:
    image: mysql:8.0.33
#    restart: always
    environment:
      MYSQL_DATABASE: 'db_test'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'kati'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'geheim'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'geheim'
    ports:
      # <Port exposed> : <MySQL Port running inside container>
      - '3316:3306'
#    expose:
#      # Opens port 3306 on the container
#      - '3306'
      # Where our data will be persisted
    volumes:
      - ../docker_data/my-db:/var/lib/mysql
  # Names our volume
#  volumes:
#    my-db:
