<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.form.title}">Page Title</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row"><h1>Kanban-Board</h1></div>

    <div class="row">


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>New</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="story : ${newStories}">
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <form action="/edit-user-story" method="post">
                                    <h5 class="card-title" th:text="${story.summary}">summary</h5>
                                    <p class="card-text" th:text="${story.description}">description</p>
                                    <p th:text="'Prio: ' + ${story.priority.displayValue}"></p>
                                    <p th:text="'SP: ' + ${story.estimation.displayValue}"></p>
                                    <!-- Hidden input field for the entity ID -->
                                    <input type="hidden" name="storyId" th:value="${story.id}">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>

                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Blocked</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="story : ${blocked}">
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <form action="/edit-user-story" method="post">
                                    <h5 class="card-title" th:text="${story.summary}">summary</h5>
                                    <p class="card-text" th:text="${story.description}">description</p>
                                    <p th:text="'Prio: ' + ${story.priority.displayValue}"></p>
                                    <p th:text="'SP: ' + ${story.estimation.displayValue}"></p>
                                    <!-- Hidden input field for the entity ID -->
                                    <input type="hidden" name="storyId" th:value="${story.id}">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>In Progress</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="story : ${inProgress}">
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <form action="/edit-user-story" method="post">
                                    <h5 class="card-title" th:text="${story.summary}">summary</h5>
                                    <p class="card-text" th:text="${story.description}">description</p>
                                    <p th:text="'Prio: ' + ${story.priority.displayValue}"></p>
                                    <p th:text="'SP: ' + ${story.estimation.displayValue}"></p>
                                    <!-- Hidden input field for the entity ID -->
                                    <input type="hidden" name="storyId" th:value="${story.id}">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>In Review</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="story : ${inReview}">
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <form action="/edit-user-story" method="post">
                                    <h5 class="card-title" th:text="${story.summary}">summary</h5>
                                    <p class="card-text" th:text="${story.description}">description</p>
                                    <p th:text="'Prio: ' + ${story.priority.displayValue}"></p>
                                    <p th:text="'SP: ' + ${story.estimation.displayValue}"></p>
                                    <!-- Hidden input field for the entity ID -->
                                    <input type="hidden" name="storyId" th:value="${story.id}">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Test</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="story : ${inTest}">
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <form action="/edit-user-story" method="post">
                                    <h5 class="card-title" th:text="${story.summary}">summary</h5>
                                    <p class="card-text" th:text="${story.description}">description</p>
                                    <p th:text="'Prio: ' + ${story.priority.displayValue}"></p>
                                    <p th:text="'SP: ' + ${story.estimation.displayValue}"></p>
                                    <!-- Hidden input field for the entity ID -->
                                    <input type="hidden" name="storyId" th:value="${story.id}">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Done</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="story : ${done}">
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <form action="/edit-user-story" method="post">
                                    <h5 class="card-title" th:text="${story.summary}">summary</h5>
                                    <p class="card-text" th:text="${story.description}">description</p>
                                    <p th:text="'Prio: ' + ${story.priority.displayValue}"></p>
                                    <p th:text="'SP: ' + ${story.estimation.displayValue}"></p>
                                    <!-- Hidden input field for the entity ID -->
                                    <input type="hidden" name="storyId" th:value="${story.id}">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>


<!--<table class="table col-lg-2">-->
<!--  <thead>-->
<!--  <tr><th>New</th></tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Card 1</h5>-->
<!--          <p class="card-text">Some description about Card 1.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->