<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.form.title}">Page Title</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row"><h1>Table with Bootstrap Card Elements</h1></div>

    <div class="row">


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>New</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Blocked</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>In Progress</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>In Review</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Test</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <div class="col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Done</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


    </div>
</body>
</html>


<!--<table class="table col-lg-2">-->
<!--  <thead>-->
<!--  <tr><th>New</th></tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Card 1</h5>-->
<!--          <p class="card-text">Some description about Card 1.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->