<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"/>
    <!--    <title th:text="#{login.form.title}">Page Title</title>-->

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>
<div class="container body-content">
    <form action="/register" method=post
                  oninput='repeatPasswort.setCustomValidity(repeatPasswort.value != passwort.value ? "Passwort nicht identisch." : "")'>
        <div class="form-group">
            <div class="col-2">
                <div class="form-group mt-2">
                    <label class="control-label" for="vornameInput">Vorname</label>
                    <input type="vorname" class="form-control" id="vornameInput" placeholder="Vorname"/>
                </div>

                <div class="form-group mt-2">
                    <label class="control-label" for="nachnameInput">Nachname</label>
                    <input type="nachname" class="form-control" id="nachnameInput" placeholder="Nachname"/>
                </div>

                <div class="form-group mt-2">
                    <label class="control-label" for="emailInput">E-Mail-Adresse</label>
                    <input type="email" required name="email" class="form-control" id="emailInput" placeholder="E-Mail"/>
                </div>

                <div class="form-group mt-2">
                    <label for="passwordInput">Passwort</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Passwort" name="passwort"/>
                </div>

                <div class="form-group mt-2">
                    <label class="control-label" for="repeatPasswordInput">Passwort</label>
                    <input type="password" class="form-control" id="repeatPasswordInput" placeholder="Passwort wiederholen" name="repeatPasswort"/>
                </div>
                <input class="btn btn-primary mt-2" type="submit" value="Registrieren"/>
<!--                <a href="#" class="btn btn-primary form-group mt-2">Registrieren</a>-->
            </div>

            <div>
                <p>Bereits registriert? <a href="#!">Hier einloggen</a></p>
            </div>
        </div>

    </form>
</div>
</body>
</html>